<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 class="mb-5">
    Message Service
  </h1>
  <div class="container">
    <form class="column" #messageForm="ngForm">
        <input type="text" name="ServiceUrl" #ServiceUrl="ngModel" class="form-control col-4 mb-3" id="url" placeholder="Service URL" [(ngModel)]="serviceUrl" />
        <div>
          <input type="text" name="RecipientIds" #RecipientIds="ngModel" class="form-control col-4 mb-3" id="ids" placeholder="Recipient Ids" [(ngModel)]="recipientString" required/>
          <div class="alert alert-danger" *ngIf="RecipientIds.invalid && RecipientIds.touched">At least one recipient is required</div>
        </div>
        <div>
          <input type="text" name="Subject" #Subject="ngModel" id="subject" class="form-control col-4 mb-3" placeholder="Subject" [(ngModel)]="newMessage.Subject" required/>
          <div class="alert alert-danger" *ngIf="Subject.invalid && Subject.touched">Subject is required</div>
        </div>
        <div>
          <textarea id="body" name="Body" #Body="ngModel" class="form-control height col-4 row-4 mb-3" placeholder="Body" [(ngModel)]="newMessage.Body" required></textarea>
          <div class="alert alert-danger" *ngIf="Body.invalid && Body.touched">Body is required</div>
        </div>
      <button [disabled]="!messageForm.valid" type="submit" class="btn btn-lg btn-block btn-info col-4" (click) ="sendMessage()">Send Message</button>
      </form>
  </div>
</div>


